/* doges.css */

body {
  background: url('shiba.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#header {
  background-color: rgba(0, 0, 0, 0.6);
  margin: -8px;
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 99;
}

#taskbar {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  float: left;
  margin: 8px;
  margin-right: 20px;
  padding: 10px;
  width: 40%;
  height: 33%;
}

#clock {
  float: left;
  width: 40%;
}

#status {
  float: right;
  width: 60%;
}

#logo {
  color: white;
  display: table;
  font-size: 24pt;
  font-weight: bold;
  margin-right: auto;
}

@keyframes spinRight {
  0%{ transform:rotate(0deg); transform-origin:50% 50%; }
  100%{ transform:rotate(360deg); }
}

@-moz-keyframes spinRight{
  0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
  100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes spinRight{
  0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
  100%{ -webkit-transform:rotate(360deg); }
}

#divButtonBar {
  position: absolute;
  top: 13px;
  right: 5px;
}

#divMain {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 850px;
  padding-top: 60px;
}

#divConsole {
  overflow-x: hidden;
  overflow-y: auto;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

#history {
  display: none;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
